h3 {
    float: left;
    background-color: 
    #333;
    margin: 0;
    padding: 14px 15px;
    color: white;
  }
  .contenu {
    clear: right;
  }

  #assets {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  #assets td,
  #assets th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #assets tr:hover {
    background-color: #ddd;
  }
  
  #assets th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgba(97, 114, 141, 0.986);
    color: white;
  }